@page "/"

<PageTitle>Home</PageTitle>

<FluentStack Class="card-section set-colour-bg-2" Orientation="Orientation.Vertical">
        <h1>Hello, world!</h1>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentSpacer />
        <img class="img-hero" src="/Assets/Portrait.png" />
        <FluentSpacer />
    </FluentStack>
</FluentStack>


<FluentStack Class="card-section set-colour-bg-3" Orientation="Orientation.Horizontal">
    Welcome to your new Fluent Blazor app.
</FluentStack>

<FluentStack Class="card-section set-colour-bg-2" Orientation="Orientation.Horizontal">
    Welcome to your new Fluent Blazor app.
</FluentStack>

<FluentStack Class="card-section set-colour-bg-3" Orientation="Orientation.Horizontal">
    Welcome to your new Fluent Blazor app.
</FluentStack>

<FluentStack Class="card-section set-colour-bg-2" Orientation="Orientation.Horizontal">
    Welcome to your new Fluent Blazor app.
</FluentStack>