@page "/"
@using PortfolioSite.Components.Components

<PageTitle>Home</PageTitle>

<FluentStack tabindex="0" Class="card-section set-colour-bg-2" Orientation="Orientation.Vertical">
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentSpacer />
        <h1 tabindex="-1" class="hero-text">Shaun</h1>
        <rem></rem>
        <rem></rem>
        <h1 tabindex="-1" class="hero-text">Broomfield</h1>
        <FluentSpacer />
    </FluentStack>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentSpacer />
        <img class="img-hero" src="/Assets/Portrait.png" />
        <FluentSpacer />
    </FluentStack>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentSpacer />
        <h1 tabindex="-1" class="hero-text">Software</h1>
        <rem></rem>
        <rem></rem>
        <h1 tabindex="-1" class="hero-text">Engineer</h1>
        <FluentSpacer />
    </FluentStack>
</FluentStack>


<FluentStack tabindex="1" Class="card-section set-colour-bg-3" Orientation="Orientation.Horizontal">
    <FluentStack Orientation="Orientation.Horizontal">
        <Socials />
    </FluentStack>
</FluentStack>


<FluentStack tabindex="2" Class="card-section set-colour-bg-2" Orientation="Orientation.Horizontal">
    <h3>Description</h3>
</FluentStack>


<FluentStack tabindex="3" Class="card-section set-colour-bg-3" Orientation="Orientation.Horizontal">
    <h3>Projects</h3>
    <br />
    Literally Github API pipe-in...
</FluentStack>


<FluentStack tabindex="4" Class="card-section set-colour-bg-2" Orientation="Orientation.Horizontal">
    Welcome to your new Fluent Blazor app.
</FluentStack>